
.ajaw-energy {
    font-size: 40px;
    align-self: center;
    justify-content: center; 
}

.ajaw-name {
    font-size: 42px;
    align-self: center;
    justify-content: center; 
}

.ajaw-glyph {
    min-width: 197px;
    min-height: 153px;
    object-fit: scale-down;
    border-radius: 0;
    margin-bottom: 20px;
    align-self: center;
}

.ajaw-box {
    align-items: center; 
    justify-content: center; 
    padding: 10px;
}

.ajaw-box-horizontal {
    align-items: center;
    justify-content: center;
}